@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
body{
  background-image: url('img/backgrounds/shopbg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0;
  margin: 0;
}
ul li a:hover{
  color: red;
}



.signup_container{
  width: 100%;
  padding: 20px 0 0 0;
}
.signup_header__menu{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: none;
  align-items: center;
}
.signup_header__menu a{
  text-decoration: none;
  font-family: 'Lato' sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.signup_header__list{
  display: flex;
  list-style: none;
  padding: 0;
}
.signup_header__list.left{
  background: none;
}
.signup_header__list.right{
  background: none;
}
.signup_header__link{
  margin: 0 25px;
}
.signup_header__list.left li{
  background: none;
}
.signup_header__list.right li{
  background: none;
}
.signup_header__link.active_link{
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}
.header_logo{
  width: 190px;
  height: 105px;
}
@media screen and (max-width: 919px){
    .signup_container{
        display: none;
    }
}



@media (min-width: 920px) and (max-width: 7680px) {
    .wrapper{
        display: none;
    }
}
.container{
    margin: 0 auto;
    width: 100%;
    padding: 20px 0 0 0;
}
.header{
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header__body{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 160px;
    align-items: center;
}
.header__logo{
    flex: 0 0 150px;
    overflow: hidden;
    position: relative;
    z-index: 3;
}
.header__logo img{
    max-width: 100%;
}
.header__burger{
    display: none;
}
.header__list{
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li{
    list-style: none;
    margin:  0 0 0 15px;
}
.header__list li:active{
    font-weight: bold;
}
.header__link{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}
.header__link:hover{
    color: red;
}
@media(max-width: 768px){
    body.lock{
        overflow: hidden;
    }
    .header__body{
        height: 100px;
    }
    .header__logo{
        flex: 0 0 80px;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__menu{
        position: fixed;
        overflow: auto;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        padding: 110px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active{
        top: 0;
    }
    .header__list{
        display: block;
    }
    .header__list li{
        margin: 40px;
    }
    .header__link{
        font-size: 24px;
    }
}



.form-filter{
    display: flex;
    justify-content: center;
}
.product_filters{
  margin: 30px auto;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
}
#id_product_type{
  background: #fff;
  border: none;
  border-radius: 8px;
  width: 23.5%;
  height: 50px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: .77vw;
  line-height: 29px;
  text-align: center;
  align-items: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FF007A;
}
#sort_btn{
  width: 12%;
  height: 50px;
  border: none;
  border-radius: 8px;
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: .77vw;
  line-height: 29px;
  text-align: center;
  align-items: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FF007A;
}
#id_name{
  width: 50%;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 8px;
  background: none;
  font-size: .77vw;
  color: #fff;
  padding: 0 10px;
}
#id_name::placeholder{
  color: #fff;
  text-align: center;
}
#cart_btn{
  width: 12%;
  height: 50px;
  border: none;
  border-radius: 8px;
  background: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: .77vw;
  line-height: 29px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
#cart_btn a{
  text-decoration: none;
  color: #FF007A;
}
.cart_icon{
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
@media screen and (max-width: 1024px){
    .product_filters{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
    }
    .product_filters > *{
        margin: 5px 0;
    }
    .filters{
        margin-left: 10px;
    }
    #id_product_type{
        width: 100%;
        font-size: 1.5vw;
    }
    #sort_btn{
        width: 100%;
        font-size: 1.5vw;
    }
    #id_name{
        width: 100%;
        font-size: 1.5vw;
    }
    #cart_btn{
        width: 100%;
        font-size: 1.5vw;
    }
}
@media screen and (max-width: 640px){
    .product_filters{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-around;\
    }
    .product_filters > *{
        margin: 5px 0;
    }
    #id_product_type{
        width: 100%;
        font-size: 2.5vw;
    }
    #sort_btn{
        width: 100%;
        font-size: 2.5vw;
    }
    #id_name{
        width: 100%;
        font-size: 2.5vw;
    }
    #cart_btn{
        width: 100%;
        font-size: 2.5vw;
    }
}



.products{
    display: flex;
    justify-content: center;
}
.products_container{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.product{
    width: 90%;
    margin: 5px auto;
}
@media screen and (max-width: 1366px){
    .products_container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1024px){
    .products_container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 640px){
    .products_container{
        grid-template-columns: 1fr;
    }
    .product{
        width: 80%;
    }
}



.price{
  width: 100%;
  float: right;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-repeat: no-repeat;
}
.pricebg{
  padding: 10px 0;
  float: right;
  width: 40%;
  background: rgba(0, 0, 0, 0.9);
}
.cart_button{
  color: #FF007A;
}
.details{
  color: #fff;
  background: linear-gradient(101.18deg, #FF2E00 -18.4%, #FF007A 112.98%);
}
.button{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border: none;
  width: 104px;
  height: 32px;
  margin: 0 auto;
}
.name{
  margin: 150px 0 0 0;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
}
.left{
  display: flex;
  justify-content: space-between;
}
.right{
  display: flex;
  justify-content: space-between;
}
.product__name, .product__type{
  width: 50%;
  margin: 0;
  padding: 0;
}
.product__type{
  color: #707070;
}
.product__span{
  font-size: 14px;
}
