@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
body {
    overflow-x: hidden;
}


.container{
    max-width: 1180px;
    margin: 0 auto;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header__body{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 160px;
    align-items: center;
}
.header__logo{
    flex: 0 0 150px;
    overflow: hidden;
    position: relative;
    z-index: 3;
}
.header__logo img{
    max-width: 100%;
}
.header__burger{
    display: none;
}
.header__list{
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li{
    list-style: none;
    margin:  0 0 0 15px;
}
.header__link{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}
.header__link:hover{
    color: red;
}
.header__link.active{
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.3em;
}
@media(max-width: 768px){
    body.lock{
        overflow: hidden;
    }
    .header__body{
        height: 100px;
    }
    .header__logo{
        flex: 0 0 80px;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__menu{
        position: fixed;
        overflow: auto;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        padding: 110px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active{
        top: 0;
    }
    .header__list{
        display: block;
    }
    .header__list li{
        margin: 40px;
    }
    .header__link{
        font-size: 24px;
    }
}





.description{
    padding: 200px 15% 200px 5%;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
    background: url("img/Gallery/desription.decf774a425a.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0,0,0,.9);
}
.description h1{
    color: #12C2E9;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: normal;
    line-height: 87%;
    display: flex;
    align-items: center;
}
.description p{
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    display: flex;
    align-items: center;
    margin-top: 5%;
    width: 60%;
    padding: 0;
}
.description form{
    display: flex;
}
.description button{
    width: 223px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(105.17deg, #FF2E00 -18.4%, #FF007A 112.98%);
    color: #fff;
    font-family: 'Lato', sans-serif;
}
.description-logo img{
    width: 406px;
    height: 413px;
    top: 194px;
}
@media screen and (max-width: 1680px){
    .description{
        padding: 200px 0;
        margin: 0;
    }
    .description h1{
        width: 100%;
        text-align: center;
        justify-content: center;
        font-size: 36px;
    }
    .description p{
        margin: 100px auto 0 auto;
        width: 90%;
        text-align: center;
    }
    .description button{
        margin: 50px auto 0 auto;
    }
    .description-content{
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }
    .description-logo{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .description{
        padding: 100px 0 0 0;
    }
    .description h1{
        margin: 0 auto;
        width: 80%;
    }
    .description p{
        width: 80%;
        margin: 25px auto 0 auto;
    }
    .description button{
        margin: 10px auto 50px auto;
    }
}


.about-us{
    color: #fff;
    font-family: 'Lato', sans-serif;
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    position: relative;
    background: #111111;
    background-blend-mode: multiply;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.left{
    width: 40%;
}
.left h5{
    letter-spacing: 0.9px;
    display: flex;
    align-items: center;
    color: #12C2E9;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #12C2E9;
}
.left h1{
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 97%;
    align-items: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.left p{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.right{
    width: 40%;
}
.right video{
    width: 700px;
    left: 647px;
    top: 62px;
    background: #696969;
}
@media screen and (max-width: 1680px){
    .about-us{
        flex-direction: column;
        align-items: center;
        position: static;
        padding: 50px 0;
        text-align: center;
    }
    .left{
        width: 70%;
        height: 30%;
    }
    .right video{
        width: 100%;
        height: 100%;
        align-content: center;
    }
    .left h5{
        font-size: 24px;
        justify-content: space-around;
    }
    .left h1{
        font-size: 36px;
    }
    .left p{
        font-size: 20px;
    }
}
@media screen and (max-width: 768px){
    .left h5{
        font-size: 20px;
    }
    .left h1{
        font-size: 28px;
        margin: 20px auto;
    }
    .left p{
        margin: 20px auto;
    }
    .right{
        width: 100%;
    }
    .right video{
        width: 90%;
        margin: 0 auto;
    }
}



.about-coach{
    justify-content: center;
    position: relative;
    padding: 100px 0;
    background: #111111;
    background-blend-mode: multiply;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.h1{
    text-align: center;
}
.h1 h5{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #12C2E9;
}
.h1 h1{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    color: #fff;
}
.slider{
    justify-content: center;
    position: relative;
    display: flex;
    margin-top: 200px;
}
.slide1{
    height: 250px;
    width: 200px;
    position: absolute;
    transform: translateX(0px) scale(1.5);
    z-index: 100;
    border: 2px solid red;
    transition: all .5s;
}
.slide2{
    height: 250px;
    width: 200px;
    position: absolute;
    transform: translateX(-200px) scale(1.2);
    z-index: 90;
    border: 2px solid red;
    transition: all .5s;
}
.slide3{
    height: 250px;
    width: 200px;
    position: absolute;
    transform: translateX(200px) scale(1.2);
    z-index: 90;
    border: 2px solid red;
    transition: all .5s;
}
.slide4{
    height: 250px;
    width: 200px;
    position: absolute;
    transform: translateX(-300px) scale(1);
    z-index: 80;
    border: 2px solid red;
    transition: all .5s;
}
.slide5{
    height: 250px;
    width: 200px;
    position: absolute;
    transform: translateX(300px) scale(1);
    z-index: 80;
    border: 2px solid red;
    transition: all .5s;
}
.slide1:hover{
    transform: translateX(0) scale(2);
    z-index: 150;
    transition: all .5s;
}
.slide2:hover{
    transform: translateX(-200px) scale(1.6);
    z-index: 150;
    transition: all .5s;
}
.slide3:hover{
    transform: translateX(200px) scale(1.6);
    z-index: 150;
    transition: all .5s;
}
.slide4:hover{
    transform: translateX(-300px) scale(1.6);
    z-index: 150;
    transition: all .5s;
}
.slide5:hover{
    transform: translateX(300px) scale(1.6);
    z-index: 150;
    transition: all .5s;
}
@media(max-width: 1680px){
    .h1 h5{
        font-size: 24px;
    }
    .h1 h1{
        font-size: 36px;
        margin-top: 20px;
    }
    .slide1{
        height: 300px;
        width: 200px;
        position: absolute;
        transform: translateX(0px) scale(1.5);
        z-index: 100;
        border: 2px solid #ff5353;
        transition: all .5s;
    }
    .slide2{
        height: 300px;
        width: 200px;
        position: absolute;
        transform: translateX(-150px) scale(1.2);
        z-index: 90;
        border: 2px solid #ff5353;
        transition: all .5s;
    }
    .slide3{
        height: 300px;
        width: 200px;
        position: absolute;
        transform: translateX(150px) scale(1.2);
        z-index: 90;
        border: 2px solid #ff5353;
        transition: all .5s;
    }
    .slide4{
        height: 300px;
        width: 200px;
        position: absolute;
        transform: translateX(-250px) scale(1);
        z-index: 80;
        border: 2px solid #ff5353;
        transition: all .5s;
    }
    .slide5{
        height: 300px;
        width: 200px;
        position: absolute;
        transform: translateX(250px) scale(1);
        z-index: 80;
        border: 2px solid #ff5353;
        transition: all .5s;
    }
    .slide1:hover{
        transform: translateX(0) scale(2);
        z-index: 150;
        transition: all .5s;
    }
    .slide2:hover{
        transform: translateX(-100px) scale(1.8);
        z-index: 150;
        transition: all .5s;
    }
    .slide3:hover{
        transform: translateX(100px) scale(1.8);
        z-index: 150;
        transition: all .5s;
    }
    .slide4:hover{
        transform: translateX(-200px) scale(1.6);
        z-index: 150;
        transition: all .5s;
    }
    .slide5:hover{
        transform: translateX(200px) scale(1.6);
        z-index: 150;
        transition: all .5s;
    }
}
@media screen and (max-width: 768px){
    .slider{
        margin: 100px auto;
    }
    .slide2{
        display: none;
    }
    .slide3{
        display: none;
    }
    .slide4{
        display: none;
    }
    .slide5{
        display: none;
    }
}
#next{
    height: 30px;
    width: 100px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    left: 510px;
    top: 100px;
    margin-top: 400px;
    border: solid 2px red;
}
@media(max-width: 1680px){
    #next{
        height: 50px;
        width: 200px;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        color: #fff;
        text-align: center;
        line-height: 50px;
        left: 510px;
        top: 100px;
        margin-top: 450px;
        background-color: #ff5353;
    }
}
@media screen and (max-width: 768px){
    #next{
        margin-top: 350px;
        display: none;
    }
}
#next:hover{
    cursor: pointer;
}
.coach-description{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
}
.coach-description h1{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: #fff;
}
.coach-description p{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 150%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
@media(max-width: 1680px){
    .coach-description{
        padding: 0;
        width: 100%;
    }
    .coach-description h1{
        font-size: 36px;
    }
    .coach-description p{
        font-size: 24px;
        margin: 20px auto;
        width: 80%;
    }
}
@media screen and (max-width: 768px){
    .coach-description{
        width: 80%;
        margin-top: 60%;
    }
    .coach-description p{
        font-size: 20px;
        margin: 10px auto;
        width: 90%;
    }
}



.subscription{
    width: 100%;
    padding: 100px 0;
    text-align: center;
    position: relative;
    background: url("img/Gallery/services.b5d6c30a9044.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.subscription-head{
    text-align: center;
}
.subscription-head h4{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.9px;
    color: #12C2E9;
}
.subscription-head h1{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 80%;
    align-items: center;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.subscription-types{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}
.subscription-type1{
    width: 20%;
}
.subscription-type2{
    width: 20%;
}
.subscription-type3{
    width: 20%;
}
.subscription-type1 h3{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 109%;
    align-items: center;
    text-align: center;
    letter-spacing: 1.1px;
    color: #FEFEFE;
}
.subscription-type2 h3{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 109%;
    align-items: center;
    text-align: center;
    letter-spacing: 1.1px;
    color: #FEFEFE;
}
.subscription-type3 h3{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 109%;
    align-items: center;
    text-align: center;
    letter-spacing: 1.1px;
    color: #FEFEFE;
}
.drying{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.6px;
    color: #FEFEFE;
}
.building{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.6px;
    color: #FEFEFE;
}
.self{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.6px;
    color: #FEFEFE;
}
@media(max-width: 1680px){
    .subscription-head h4{
        font-size: 24px;
    }
    .subscription-head h1{
        font-size: 36px;
    }
    .subscription-types{
        flex-direction: column;
        align-items: center;
        position: static;
        padding: 50px 0;
    }
    .subscription-type1{
        width: 80%;
    }
    .subscription-type2{
        width: 80%;
    }
    .subscription-type3{
        width: 80%;
    }
    .subscription-types h3{
        font-size: 28px;
        margin-top: 50px;
    }
    .subscription-types p{
        font-size: 24px;
    }
}
@media screen and (max-width: 768px){
    .subscription{
        padding: 50px 0;
    }
    .subscription h4{
        font-size: 24px;
    }
    .subscription h1{
        margin-top: 25px;
        font-size: 28px;
        line-height: 28px;
    }
    .subscription-types{
        padding: 0;
        margin: 0 auto;
    }
    .subscription-types h3{
        font-size: 24px;
        margin: 50px auto;
    }
}




.gallery{
    width: 100%;
    position: relative;
    justify-content: center;
    padding: 100px 0;
    background: #111111;
    background-blend-mode: multiply;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gallery-h2{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 80%;
    align-items: center;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #12C2E9;
}
.gallery-img{
    justify-content: space-around;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}
.gallery-img img{
    width: 450px;
    height: 350px;
    border: 5px solid #ED213A;
    margin: 50px auto 0 auto;
}
@media screen and (max-width: 1680px){
    .gallery-img{
        grid-template-columns: 1fr 1fr;
    }
    .gallery-img img{
        margin: 20px auto;
    }
    .gallery-img img:hover{
        transform: scale(1.5);
        transition: all .7s;
    }
}
@media screen and (max-width: 768px){
    .gallery{
        padding: 50px 0;
    }
    .gallery-img{
        grid-template-columns: 1fr;
    }
    .gallery-img img{
        margin: 20px auto;
        width: 80%;
        height: 80%;
    }
    .gallery-img img:hover{
        transform: scale(1.5);
        transition: all .7s;
    }
}




.price{
    width: 100%;
    padding: 100px 0;
    color: #fff;
    font-family: 'Lato', sans-serif;
    position: relative;
    background: #111111;
    background-blend-mode: multiply;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.price-h{
    text-align: center;
}
.price-h h4{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.9px;
    color: #12C2E9;
}
.price-h h2{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 80%;
    align-items: center;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 30px;
}
.subs{
    border: solid 5px #ED213A;
    width: 400px;
    margin: 20px auto;
}
.subs h1{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
    line-height: 100%;
    align-items: center;
    text-align: center;
    letter-spacing: 1.2px;
    color: #FFFFFF;
}
.subs-title{
    background: linear-gradient(90deg, #E100FF 0%, #F80759 100%), #ED213A;
    background-blend-mode: multiply, normal;
    width: 100%;
    height: 53px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 133%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    display:flex;
    justify-content:center;
    margin-top: 30px;
}
.subs ol{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    align-items: center;
    letter-spacing: 0.7px;
    color: #FFFFFF;
    padding-left: 25%;
    margin-top: 20px;
}
.a{
    grid-area: a;
}
.b{
    grid-area: b;
}
.c{
    grid-area: c;
}
.d{
    grid-area: d;
}
.e{
    grid-area: e;
}
.f{
    grid-area: f;
}
.g{
    grid-area: g;
}
.h{
    grid-area: h;
}
.j{
    grid-area: j;
}
.k{
    grid-area: k;
}
.subs-list{
    display: grid;
    grid-template-areas: 'a b c d'
    'e f g h'
    'i j k l';
}
@media screen and (max-width: 1680px){
    .subs-list{
        margin: 20px auto;
        grid-template-areas: 'a b'
        'c d'
        'e f'
        'g h'
        'j k';
    }
    .price h4{
        font-size: 24px;
    }
}
@media screen and (max-width: 768px){
    .price{
        padding: 25px 0;
    }
    .subs{
        width: 80%;
    }
    .subs-list{
        grid-template-areas: 'a'
        'b'
        'c'
        'd'
        'e'
        'f'
        'g'
        'h'
        'j'
        'k'
    }
    .subs-list h1{
        font-size: 24px;
    }
    .subs-list li{
        font-size: 16px;
    }
}


.news{
    padding: 100px 0;
    background: url("img/Gallery/gallerybg.7faf590413ad.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.news h1{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 80%;
    align-items: center;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0 100px;
}
.post{
    text-align: center;
}
.post h4{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 200%;
    align-items: center;
    color: #F80759;
    margin-top: 40px;
    width: 100%;
}
.post h2{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 133%;
    align-items: center;
    color: #FFFFFF;
}
.text{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 171%;
    align-items: center;
    color: #FFFFFF;
    width: 95%;
}
@media screen and (max-width: 1680px){
    .news h1{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 80%;
        align-items: center;
        text-align: center;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .posts{
        grid-template-columns: 1fr;
    }
    .post{
        width: 100%;
        display: table-row;
        justify-content: space-around;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .post h4{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 200%;
        align-items: center;
        color: #F80759;
        margin-top: 40px;
    }
    .post h2{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 133%;
        align-items: center;
        color: #FFFFFF;
    }
    .text{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 171%;
        align-items: center;
        color: #FFFFFF;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px){
    .news{
        padding: 50px 0;
    }
    .posts{
        padding: 0;
    }
    .post{
        width: 80%;
        margin: 0 auto;
    }
    .post h4{
        font-size: 28px;
    }
    .post p{
        width: 100%;
        font-size: 18px;
        margin: 25px auto;
    }
    .post h2{
        font-size: 14px;
    }
}



.contacts{
    width: 100%;
    padding: 100px 0;
    background: #111111;
    background-blend-mode: multiply;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.con h4{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 133%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.9px;
    color: #12C2E9;
}
.con h1{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 50%;
    align-items: center;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 50px;
}
.con p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 167%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
}
.con button{
    background: linear-gradient(90deg, #E100FF 0%, #F80759 100%), #ED213A;
    background-blend-mode: multiply, normal;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FEFEFE;
    margin-top: 70px;
    width: 172px;
    height: 60px;
    border-radius: 10px;
    border: none;
    justify-content: space-around;
}
.contacts-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}
.info-1 p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 187%;
    align-items: center;
    color: #BDC3C7;
}
.info-1 h3{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    align-items: center;
    color: #BDC3C7;
}
.info-2 h3{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 125%;
    align-items: center;
    color: #FFFFFF;
}
.info-2 p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    align-items: center;
    color: #BDC3C7;
    margin-top: 30px;
}
.info-3 img{
    width: 200px;
    height: 210px;
    margin-top: -30px;
}
.info-3 img:hover{
    animation: img 1s linear;
}
@keyframes img {
  50% {
    transform: rotate(1800deg) scale(2);
}
100% {
    transform: rotate(1800deg) scale(2);
}
}
.info-3 img:hover{
    animation-name: img;
    animation-fill-mode: forwards;
}
.socialIcons {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 90px;
    text-align: center;
}
.socialIcons li {
    display: inline-block;
    margin: auto 10px;
}
.socialIcons li a {
    text-align: center;
    display: inline-block;
    font-size: 4rem;
    height: 100px;
    width: 100px;
    line-height: 100px;
    color: #BDC3C7;
    transition: all .5s ease;
    transform-origin: left;
    transform: rotateY(-30deg);
    text-shadow: 10px 0px 1px #131313, 10px 0px 1px #070707, 10px 0px 1px black, 10px 0px 1px black;
}
.socialIcons li a:hover {
    color: #12C2E9;
    transform: rotate(0deg);
    text-shadow: 0px 0px 1px #131313, 0px 0px 1px #070707, 0px 0px 1px black, 0px 0px 1px black;
}
@media(max-width: 1680px){
    .contacts-info{
        flex-direction: column;
        align-items: center;
    }
    .contacts-info{
        margin: 50px 0 0 0;
    }
    .info-1 p{
        font-size: 20px;
        margin: 0;
    }
    .info-1 h3{
        font-size: 150%;
    }
    .info-2{
        margin-top: 50px;
        font-size: 200%;
    }
    .info-2 h3{
        font-size: 36px;
    }
    .info-2 p{
        font-size: 24px;
    }
    .info-2 a{
        font-size: 100%;
    }
    .info-3{
        margin-top: 100px;
    }
    .con h4{
        font-size: 36px;
    }
    .con h1{
        font-size: 28px;
    }
    .con p{
        font-size: 20px;
        width: 80%;
        margin: 50px auto;
    }
    .con button{
        margin: 0;
        font-size: 20px;
        width: 200px;
        height: 75px;
    }
}
@media screen and (max-width: 768px){
    .contacts{
        padding: 50px 0;
    }
    .contacts h4{
        font-size: 28px;
    }
    .contacts h3{
        width: 90%;
        margin: 0 auto;
    }
    .contacts h1{
        margin: 25px auto;
        font-size: 20px;
        width: 80%;
    }
    .contacts p{
        width: 80%;
        margin: 10px auto;
    }
    .info-2 p{
        width: 80%;
        font-size: 18px;
    }
    #email{
        font-size: 14px;
    }
    .con p{
        font-size: 18px;
    }
}
