@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.nav-items a:hover{
    color: red;
}
.main-menu a:hover{
    color: red;
}
.header{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #111111;
    background-blend-mode: multiply;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo{
    width: 150px;
    height: 150px;
}
@media(max-width: 1000px){
    .logo{
        width: 200px;
        height: 200px;
    }
    .header{
        font-size: 150%;
    }
    .nav-items{
        display: none;
    }
}
.items{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-items a{
    color: #FFFFFF;
}
.nav-items li{
    display: inline-block;
    padding: 0 20px;
    font-family: 'Lato', sans-serif;
}
@media(min-width: 1001px){
    .wrapper{
        display: none;
    }
}
.wrapper{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50%;
    width: 320px;
    height: 40px;
    background-color: #111111;
    position: relative;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
#check-menu{
    display: none;
}
#check-menu:checked ~ .main-menu{
    max-height: 500px;
    font-size: 24px;
}
@media(max-width: 1000px){
    #check-menu:checked ~ .main-menu{
        font-size: 150%;
        width: 250px;
    }
    .check-label{
        font-size: 200%;
        margin-left: 30%;
    }
    .main-menu a{
        font-size: 110%;
    }
}
.check-label{
    color: #fff;
    background-color: #000;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}
.main-menu{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
}
.main-menu a{
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, .3);
    background-color: #000;
    font-family: 'Lato', sans-serif;
}
.construct{
    background: url('img/Gallery/desription.png');
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.9);
    background-size: cover;
    height: 100vh;
}
h1{
    color: #12C2E9;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 87%;
    display: flex;
    align-items: center;
    padding-top: 40%;
}